.forgotpass {
  min-height: 500px;
}
.forgotpass .the-button {
  display: flex;
  justify-content: left;
}
/*Web Screen*/
/*Mobile screen*/
@media (max-width: 768px) {
  .the-button {
    justify-content: center;
  }
}
