.registration { 
}
.registration .content .red {
    color: red;
} 
.registration .the-button {
    display: flex;
    justify-content: left;
}
/*Web Screen*/
@media (min-width: 769px) {
}
/*Mobile screen*/
@media (max-width: 768px) {
    .the-button { 
        justify-content: center;
    }
}
